	.nav{
		margin: 0;
		padding: 0;
		float: left;
		list-style: none;
		background: #96ACC5;
		width:100%;
		text-align:center;
		position:relative;
		z-index:10;
	}
	.nav a{
		color: black;
		display: block;
		padding: 0 15px;
		text-decoration: none;
	}
	.nav a:hover{
		color: red;
	}
	.nav .item{
		margin: 0;
		padding: 0;
		float: left;
		height: 35px;
		line-height: 35px;
		white-space: nowrap;
		width:16%;
	}
	.nav .item:hover{
		position: relative;
	}
	.nav .item:hover>.nav{
		display: block;
	}
	.nav .nav{
		top: 100%;
		left: 0;
		display: none;
		background: white;
		position: absolute;
		border: 1px solid green;
	}
	.nav .nav .item{
		clear: both;
		min-width: 100%;
	}
	.bodyfont {background:#cfdfef; font:12px/150% "Lucida Grande",Arial,Verdana,Helvetica,sans-serif} 


