.title
{
	font-size:xx-large;
}
td
{
	background-color:White;
}
.moniter
{
	background-color:Gray;
}
input,select
{
	margin-left:5px;
	margin-bottom:2px;
	border-style:solid;
	border-width:1px;
	border-color:#446E60;
	background-color:#EFEFEF;
}
table.dataintable {
   border: 1px solid #446E60;
   border-collapse: collapse;
   font-family: Arial,Helvetica,sans-serif;
   margin-top: 10px;
   width: 100%;
}
table.dataintable th {
   background-color: #446E60;
   border: 1px solid #446E60;
   padding: 5px 15px 5px 5px;
   text-align: left;
   vertical-align: baseline;
   color:White;
}
table.dataintable td {
   background-color: #EFEFEF;
   border: 1px solid #446E60;
   padding: 5px 15px 5px 5px;
   vertical-align: text-top;
}
.bodyfont {background:#cfdfef; font:12px/150% "Lucida Grande",Arial,Verdana,Helvetica,sans-serif} 