<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
		<!-- Pet Shop DAL configuration settings -->
		<add key="WebDAL" value="FWSync.SQLServerDAL"/>
		
		<!-- Enable data caching -->
		<add key="EnableCaching" value="true"/>
		<!-- Cache duration (in hours-whole number only) -->
    
    <add key="DeviceCacheDuration" value="12"/>
    <add key="OriginalDataCacheDuration" value="12"/>
    <add key="ParamCacheDuration" value="12"/>
    <add key="UserCacheDuration" value="12"/>
    
		<!-- Cache dependency options. Possible values: PetShop.TableCacheDependency - SQL Server and keep empty for ORACLE -->
		<add key="CacheDependencyAssembly" value="FWSync.TableCacheDependency"/>
		<!-- CacheDatabaseName should match the name under caching section, when using TableCacheDependency -->
		<!--<add key="CacheDatabaseName" value="FWMoniterSqlCache"/>-->
    <add key="CacheDatabaseName" value="ArduinoTestDB"/>
		<!-- *TableDependency lists table dependency for each instance separated by comma -->
    
    <add key="DeviceTableDependency" value="Device"/>
    <add key="OriginalDataTableDependency" value="OriginalData"/>
    <add key="ParamTableDependency" value="Param"/>
    <add key="UserTableDependency" value="User"/>
    
		<!-- Order processing options (Asynch/Synch) -->
		
		
		<!-- Application Error Log -->
		<add key="Event Log Source" value=".NET Pet Shop 4.0"/>
		<add key="Cache" value="TableCacheDependency"/>
		<add key="dbName" value="ArduinoTestDB"/>
		<add key="tbStrs" value="Device|OriginalData|Param|User"/>
	</appSettings>
	<connectionStrings>
		<add name="SQLConnString1" connectionString="server=172.18.128.66;user id=my;password=my;database=ArduinoTestDB;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
		<!-- SQL connection string for handling transactions on the Inventory database-->
		<add name="SQLConnString2" connectionString="server=172.18.128.66;user id=my;password=my;database=ArduinoTestDB;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
		<!-- SQL connection string for Orders database-->
		<add name="SQLConnString3" connectionString="server=172.18.128.66;user id=my;password=my;database=ArduinoTestDB;min pool size=4;max pool size=4;packet size=3072" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<caching>
			<!--页面缓存配置-->
			<outputCache enableOutputCache="true"/>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="FWMoniterPageCache" duration="10" enabled="true"/>
				</outputCacheProfiles>
			</outputCacheSettings>
			<!--SQL缓存依赖配置-->
			<sqlCacheDependency enabled="true" pollTime="10000">
				<databases>
					<add name="ArduinoTestDB" connectionStringName="SQLConnString1" pollTime="10000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
